@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

main h1 {
  text-align: center;
  margin: 20px;
}

p {
  color: #777;
}

.main__container {
  margin: 20px auto;
}

.project__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 225px;
  margin: 20px;
  text-align: center;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img__container {
  width: 100%;
  height: 55%;
  overflow: hidden;
}

.img__container img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.info__container {
  padding: 15px;
}

.info__container h3,
.info__container p {
  margin-bottom: 10px;
}

.project__link {
  display: inline-block;
  text-decoration: none;
  color: darkblue;
  position: relative;
  padding: 7px;
  margin: 15px 0;
}

.project__link:before,
.project__link:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}
.project__link:before {
  top: -2.5%;
  left: -1%;
  border-top: 2px solid #777;
  border-left: 2px solid #777;
}
.project__link:after {
  bottom: -2.5%;
  right: -1%;
  border-bottom: 2px solid #777;
  border-right: 2px solid #777;
}
.project__link:hover:before,
.project__link:hover:after {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.project__link:hover {
  color: blue;
  background-color: #e6e6e6;
}
